# Go development here uses the regular gopath.
# export GOPATH=~/go
# export PATH=~/go/bin:$PATH
#export PATH=~/.local/bin:$PATH
#source zephyr-environ.sh

use_nix
# eval "$(lorri direnv)"
#source ~/linaro/zep/zephyr/zephyr-env.sh
#source ~/linaro/zep/.venv/bin/activate

# For now, just unset this so that we don't generate a warning every
# time.
#unset PS1
