[submodule "t_cose"]
	path = t_cose
	url = https://github.com/laurencelundblade/t_cose.git
[submodule "QCBOR"]
	path = QCBOR
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
